*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham";
  src: url(./fonts/GothamPro-Bold.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ghotam";
  src: url(./fonts/GothamPro-Bold.woff);
  font-style: normal;
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}
